*{
    padding:0;
    margin:0;
}
.menu li{
   display: inline-block
    
}
*{
    text-align: center;
}
.primera h3,h2{
    font-family: sans-serif
}


    

p{
    font-size:17px;
    font-weight: ligher;
    font-family: Arial;
}
.menu{
    font-family: Arial;
}
#parrafo3{
    padding:10px;
   
}

    
     

h3{
    font-size:25px;
}
p{
    background:#f0ffff
}



.seccion{
    margin: 350px;
    border: 1px solid black;
    margin-top:5px;
    margin-bottom:100px;
    
}
body{
    background-image: url(images/soldados.png);
    

}
.seccion{
    background-color:#f0f8ff 
    ;
}
@media screen and (max-width: 800px){
    .cabecera{
        height: auto;
    }
     body{
        width: auto;
    }
   
    
}
body {
    width: 100%;
    max-width: 2024px;

}
.imagenes {
    max-width: 84%;
    height: auto;
}